* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px Georgia, serif; text-align: center;
	background: url("../img/bg.jpg");
}

h1 {
	padding: 30px;
	font-weight: bold;
	font-size: 2.5em;
	color: tomato;
}

.wrapper {
	text-align: center;
}

input[type="text"] {
   	text-align: center;
    box-shadow: 0px 0px 30px rgb(136, 193, 204) inset;
	padding: 10px;    
	border-radius:10px;
	font-size:52pt;
	font-weight:bold;
	width:150px;
	height:100px;
}

#randomnumber {
	background-color: rgba(0,0,0,0.7);
	color: tomato;
	height: 250px;
	font-size: 24px;
	width: 450px;
	margin: auto;
	padding: 10px;
}

#randomnumber h2, p, li {
	color: white;
	padding: 5px;
}

#randomnumber li {
	font-size: 0.8em;
	line-height: 1.4em;
	padding-left: 2px;
	padding-top: 3px;
}



button {
	border-radius:50px ;
	padding:10px;
	margin:20px;
	font-size:18pt;
	font-weight:bold;
}